<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Biskit</title>
    <link rel="icon" type="image/png" th:href="@{/images/marca/icono.png}" />
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
    <link rel="stylesheet" th:href="@{/css/output.css}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  </head>
  <body>
    <header th:replace="fragmentos::navbar-logged"></header>
    <main></main>
    <footer th:replace="fragmentos::footer"></footer>
  </body>
</html>
