<app-back-button
  [label]="'Lista de Veterinarios'"
  [ruta]="['/admin', adminId, 'vets']"
></app-back-button>
<main
  class="screen-enter mx-4 mt-2 my-6 space-y-6 sm:mx-8 sm:mt-6 sm:mb-10 md:mx-12 lg:mx-20 xl:mx-28"
>
  @if (vet) {
    <section
      class="screen-enter-stagger mx-auto grid w-full max-w-6xl grid-cols-1 items-center gap-8 md:grid-cols-2 lg:grid-cols-3"
    >
      <!-- Card del vet -->
      <ng-container
        *ngComponentOutlet="vetCardComponent; inputs: vetCardInputs"
      />

      <!-- Tratamientos -->
      <aside
        class="screen-enter-stagger flex w-full flex-col justify-center lg:col-span-2"
      >
        <app-treatments-card
          [title]="'Tratamientos de ' + vet.nombre"
          [routeBase]="['/admin', adminId]"
          [routeSegment]="'vets'"
          [entityId]="vet.id"
          [helperText]="
            tratamientos.length +
            (tratamientos.length === 1
              ? ' tratamiento registrado'
              : ' tratamientos registrados')
          "
          [tratamientos]="tratamientos"
          [showAddButton]="false"
          [variant]="'vet'"
          [listVariant]="'client'"
          class="flex w-full self-center"
        />
      </aside>
    </section>
  }

  <app-delete-modal
    [visible]="showModal"
    [entityLabel]="'veterinario'"
    [successMessage]="deleteSuccessMessage"
    (close)="closeModal()"
    (confirm)="confirmDelete()"
  />
</main>
