<app-back-button
  [label]="'Panel de Administrador'"
  [ruta]="['/admin', adminId]"
></app-back-button>
<main
  class="mx-4 mt-2 my-6 space-y-5 sm:mx-8 sm:mt-4 sm:mb-8 md:mx-12 lg:mx-20 xl:mx-28"
>
  <app-header
    [adminId]="adminId"
    (filtrosAplicados)="onFiltrosAplicados($event)"
  ></app-header>
  <app-barra-busqueda (search)="onSearch($event)"></app-barra-busqueda>
  @if (filteredVets.length > 0) {
    <div class="flex flex-col gap-3 md:hidden">
      @for (vet of filteredVets; track vet.id) {
        <app-vet-card-mobile
          [vet]="vet"
          (cardClick)="onCardClick($event)"
          (edit)="onEditCard($event)"
          (delete)="onDeleteCard($event)"
        ></app-vet-card-mobile>
      }
    </div>

    <app-tabla
      [columnas]="columnasVet"
      [datos]="filteredVets"
      [maxHeight]="'36rem'"
      (rowClick)="onRowClick($event)"
      (actionClick)="onActionClick($event)"
    ></app-tabla>
  } @else {
    <app-empty-results
      [message]="'No hay veterinarios para mostrar.'"
      (clear)="clearAllFilters()"
    ></app-empty-results>
  }

  @if (showModal) {
    <app-delete-modal
      [entityLabel]="'veterinario'"
      [successMessage]="deleteSuccessMessage"
      (close)="closeModal()"
      (confirm)="confirmDelete()"
    ></app-delete-modal>
  }
</main>
