<aside
  class="card-mascota group mx-auto h-auto w-full max-w-full rounded-2xl bg-[#FBFAF8] p-3 shadow-[0_10px_30px_-6px_rgba(0,0,0,0.08)] transition-all duration-300 ease-[cubic-bezier(0.22,1,0.36,1)] hover:-translate-y-1 hover:shadow-[0_16px_40px_-8px_rgba(0,0,0,0.12)] md:max-w-xs lg:max-w-sm"
>
  <article class="h-full">
    <!-- Imagen -->
    <div class="relative overflow-hidden rounded-2xl">
      <img
        [src]="pet.urlFoto"
        [alt]="'Foto de ' + pet.nombre"
        class="h-48 w-full object-cover object-center transition-transform duration-500 group-hover:scale-[1.04] sm:h-56 md:h-65"
      />

      <app-pet-status-badge [estado]="pet.estado"></app-pet-status-badge>
    </div>

    <!-- Info básica -->
    <app-pet-basic-info
      [pet]="pet"
      [edad]="getEdad(pet.fechaNacimiento)"
    ></app-pet-basic-info>
  </article>
</aside>
