<main>
  <app-back-button
    [label]="'Lista de Mascotas'"
    [ruta]="[basePath, 'pets']"
  ></app-back-button>

  <!-- Grid principal -->
  <section
    id="info-pet-layout"
    class="mx-5 mt-5 mb-10 grid items-center grid-cols-1 gap-8 sm:mx-8 md:mx-30 md:grid-cols-2 lg:mx-40 lg:grid-cols-3"
  >
    @if (pet) {
      <!-- Card de la Mascota -->
      <div class="screen-enter-stagger">
        <app-card-info-pet
          [pet]="pet"
          [vetId]="vetId"
          [basePath]="basePath"
          (estadoChange)="onEstadoChange($event)"
        ></app-card-info-pet>
      </div>

      <!-- Tratamientos y Dueño -->
      <aside
        class="screen-enter-stagger flex flex-col gap-5 lg:col-span-2 justify-center"
      >
        <app-treatments-card
          [tratamientos]="tratamientos"
          [petActivo]="pet.estado"
          [routeBase]="[basePath]"
          [routeSegment]="'pets'"
          [entityId]="pet.id"
          [variant]="'vet'"
          [title]="'Tratamientos de ' + pet.nombre"
          [showAddButton]="true"
          [addButtonLabel]="'Agregar Tratamiento'"
          [showPetName]="false"
        />
        <app-card-info-owner [owner]="owner" />
      </aside>
    }
  </section>
</main>
