<main class="h-screen">
  <section class="grid h-full w-full grid-cols-1 lg:grid-cols-2">
    <!-- IZQUIERDA -->
    <div class="relative flex h-full w-full flex-col justify-center">
      <div class="mt-6 flex px-10 sm:px-18 lg:px-26 w-full">
        <div class="">
          <h1
            class="text-[38px] leading-[1.1] font-semibold text-[#4a4a4a] sm:text-[44px]"
          >
            Cambio de contraseña
          </h1>

          <p class="mt-4 max-w-md text-[15px] font-semibold text-[#8d8580dd]">
            Ingresa tu usuario y te enviaremos un enlace para restablecer tu
            contraseña de forma segura.
          </p>
          <form
            (ngSubmit)="onSubmit()"
            class="relative mt-6 max-w-md space-y-9"
            autocomplete="on"
          >
            <div class="relative">
              <input
                id="usuario"
                type="text"
                name="usuario"
                [(ngModel)]="usuario"
                required
                placeholder=" "
                class="peer w-full border-0 border-b border-gray-300 bg-transparent px-0 pt-6 pb-2 text-gray-900 outline-none focus:border-gray-800 focus:ring-0"
              />
              <label
                for="usuario"
                class="absolute top-2 left-0 cursor-text text-sm text-gray-500 transition-all peer-placeholder-shown:top-6 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 peer-focus:top-1 peer-focus:text-sm peer-focus:text-gray-600"
              >
                Usuario
              </label>
            </div>

            <div class="flex flex-col items-start space-y-2 pt-2">
              <button
                type="submit"
                class="h-12 w-44 cursor-pointer rounded-full bg-[#2b5392] font-medium text-white shadow-[0_10px_25px_rgba(120,169,215,0.35)] transition-all duration-300 hover:bg-[#1a3a6b]"
              >
                Enviar correo
              </button>

              <a
                routerLink="/login"
                class="text-sm font-medium text-[#2b5392] transition-colors hover:text-[#1a3a6b] hover:underline"
              >
                Volver al inicio de sesión
              </a>
            </div>

            <!-- Error -->
            @if (error) {
              <p
                class="absolute -bottom-16 left-0 w-full rounded-md border border-[#B22222] bg-[#FEE2E2] px-5 py-4 text-[#B22222]"
              >
                {{ error }}
              </p>
            }

            <!-- Éxito -->
            @if (success) {
              <p
                class="absolute -bottom-24 left-0 w-full rounded-md border border-[#166534] bg-[#DCFCE7] px-5 py-4 text-[#166534]"
              >
                Te hemos enviado un correo con las instrucciones para
                restablecer tu contraseña. Por favor revisa tu bandeja de
                entrada.
              </p>
            }
          </form>
        </div>
      </div>
    </div>

    <!-- DERECHA -->
    <app-login-image></app-login-image>
  </section>
</main>
