<footer
  class="flex flex-col bg-[#2f3a4a] px-5 pt-10 pb-3.75 text-center text-[0.7rem] font-light text-[#cfcfcf] md:px-10"
>
  <section
    class="flex w-full flex-col items-center justify-around gap-8 md:flex-row md:gap-0"
  >
    <app-marca></app-marca>
    <app-compromiso></app-compromiso>
    <app-calidad></app-calidad>
    <app-redes></app-redes>
  </section>
  <section>
    <hr class="mx-auto my-3.75 w-[90%] border border-[#cfcfcf4c]" />
    <p>© 2026 Biskit · Todos los Derechos Reservados</p>
  </section>
</footer>
