<section
  id="sobre-biskit"
  class="mb-[4%] flex items-center justify-center gap-10 px-5 md:flex-row md:px-0"
>
  <article
    class="relative ml-0 flex shrink-0 items-center justify-center md:ml-30"
  >
    <div
      class="absolute top-6 left-2 h-60 w-60 rounded-full bg-[#bf8552] md:top-10 md:left-3 md:h-94 md:w-94"
    ></div>
    <img
      class="relative z-10 max-h-72 w-auto md:max-h-105"
      src="images/landing/sobre-biskit/sobre.png"
      alt="sobre-biskit"
    />
  </article>
  <article class="mt-8 ml-0 text-center md:mt-0 md:ml-3.75 md:text-left">
    <p
      class="mt-10 mb-2.5 text-[0.9rem] font-semibold tracking-[1.5px] text-[#2b5392]"
    >
      SOBRE BISKIT
    </p>
    <h2
      class="mb-10 w-auto text-[1.7rem] leading-none font-black tracking-[2px] text-[#4a4a4a] md:max-w-137.5 md:text-[2.35rem]"
    >
      Especialistas en Hospitalización veterinaria
    </h2>
    <p
      class="w-auto text-[0.95rem] leading-normal text-[#6d6155] md:max-w-160 md:text-[1.1rem]"
    >
      En Biskit nos especializamos en la Hospitalización de mascotas que
      requieren cuidados médicos continuos, reposo supervisado y tratamientos
      administrados por profesionales. Nuestro compromiso es garantizar el
      bienestar de tu mascota y tu tranquilidad durante todo el proceso de
      recuperación.
    </p>
  </article>
</section>
