@import "tailwindcss";
@source "../../templates/**/*.html";

@utility redes-link {
  & svg path {
    transition: fill 0.35s cubic-bezier(0.4, 0, 0.2, 1),
                stroke 0.35s cubic-bezier(0.4, 0, 0.2, 1);
  }
  &:hover svg path {
    fill: #8eb3ef;
    stroke: #8eb3ef;
  }
}

@utility hero-bg {
  background-image:
    linear-gradient(
      to right,
      rgba(15, 23, 42, 0.75),
      rgba(15, 23, 42, 0.50),
      rgba(15, 23, 42, 0.25)
    ),
    url("../images/hero/hero.jpeg");
}

@utility proceso-linea {
  &::before {
    content: "";
    position: absolute;
    left: 29px;
    top: 10%;
    bottom: 12%;
    width: 1px;
    background-color: #4a4a4a59;
    z-index: 1;
  }
  @media (min-width: 48rem) {
    &::before {
      left: 61px;
    }
  }
}

@utility paso-numero {
  &::before {
    content: attr(data-step);
    position: absolute;
    left: -48px;
    top: 50%;
    transform: translateY(-50%);
    width: 38px;
    height: 38px;
    background-color: #2b5392;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 0.85rem;
    font-weight: bold;
    z-index: 10;
  }
  @media (min-width: 48rem) {
    &::before {
      left: -65px;
      width: 50px;
      height: 50px;
      font-size: 1rem;
    }
  }
}

@utility back-link {
  & svg path {
    transition: fill 0.35s cubic-bezier(0.4, 0, 0.2, 1),
                stroke 0.35s cubic-bezier(0.4, 0, 0.2, 1);
  }
  &:hover svg path {
    stroke: #4a4a4a;
  }
}

@utility custom-scroll {
  
&::-webkit-scrollbar {

  width: 5px;

}

&::-webkit-scrollbar-thumb {

  background-color: #6D615590;
  border-radius: 3px;
  
}

}