* {
  font-family: "Inter", sans-serif;
  /* border: 1px solid red; */
}

html {
  scroll-padding-top: 13vh;
  scroll-behavior: smooth;
}

body {
  background-color: #fcf6f0;
}

h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
}

a {
  text-decoration: none;
}



