h2,
h3 {
  font-family: "Playfair Display", serif;
}

.titulo {
  font-weight: 600;
  color: #2b5392 !important;
  font-size: 0.9rem;
  letter-spacing: 1.5px;
  margin-bottom: 10px;
  margin-top: 40px;
}

.parrafo {
  color: #6d6155;
}
