* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html {
  scroll-padding-top: 13vh;
  scroll-behavior: smooth;
}

body {
  background-color: #fcf6f0;
}

a {
  text-decoration: none;
}


/*======================== FOOTER ======================*/

/* ========== ESTILOS DE LA NAVBAR ========== */

/* ----- Generales ----- */
.navbar {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 1000;
  height: 12.5vh;
  align-items: center;
  background: linear-gradient(
    90deg,
    #ecebe8 0%,
    #efeeeb 35%,
    #f2f1ee 50%,
    #f5f3f0 65%,
    #faf8f5 100%
  );
}

.opciones {
  display: flex;
  list-style: none;
  align-items: center;
  margin-left: auto;
  margin-right: 30px;
  font-size: 0.85rem;
  font-weight: 500;
}

/* ----- BISKIT ----- */

.navbar  a {
  display: flex;
}

.nombre {
  padding-left: 30px;
}

.icono {
  padding-left: 10px;
}

/* ----- Páginas ----- */
.paginas a {
  color: #6d6155;
  margin: 0px 20px;
  transition: color 0.25s ease;
}

.paginas a:hover {
  color: #2b5392;
}

/* ----- Botón Contáctanos ----- */
.log-in {
  display: flex;
  align-items: center;
  padding: 8px;
  background-color: #2b5392;
  border-radius: 12px;
  margin-left: 15px;
  transition: background-color 0.25s ease;
}

.log-in:hover {
  background-color: #1a3a6b;
}

.log-in p {
  color: #fcf6f0;
  margin-right: 10px;
  margin-left: 10px;
}

.log-in img {
  margin-left: 5px;
}

/* ----- Generales ----- */
footer {

  display: flex;
  flex-direction: column;
  background-color: #4b4b4b;
  color: #cfcfcf;
  font-weight: 300;
  font-size: 0.7rem;
  text-align: center;
  padding: 40px 40px 15px 40px;  

}

footer h3{

  text-align: left;
  color: #fcf6f0;

}

footer ul{

  list-style: none;
  margin-top: 12px;
  text-align: left;

}

footer li{

  margin-bottom: 8px;

}

.footer-info {

  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;

}

.footer-articles {

  display: flex;
  flex-direction: column;

}

/* ----- Específicos ----- */

#footer-redes{

  align-items: flex-start;
  width: 120px;

}

#footer-redes a{

  display: flex;
  align-items: center;
  color: #cfcfcf;
  font-weight: 400;
  margin-bottom: 10px;
  transition: color 0.35s cubic-bezier(0.4, 0, 0.2, 1);

}

#footer-redes svg path{

  transition: 
    fill 0.35s cubic-bezier(0.4, 0, 0.2, 1),
    stroke 0.35s cubic-bezier(0.4, 0, 0.2, 1);  

}

#footer-redes a:hover{

  color: #8eb3ef;
  svg path{

    fill: #8eb3ef;
    stroke: #8eb3ef;

  }

}

#footer-redes p{

  margin-left: 7px;

}

/* ----- Fila Inferior ----- */
.footer-copyright hr{

  margin: 15px auto;
  width: 90%;
  border-color: #cfcfcf4c;
  /* grosor */
  border-width: 1px;

}



