<div class="hidden w-full justify-center lg:flex">
  <div class="custom-scroll w-full overflow-x-auto">
    <table
      class="w-full min-w-220 overflow-hidden rounded-2xl border border-[#EAE6E1] text-left text-sm backdrop-blur-sm xl:text-lg"
    >
      <!-- HEADER -->
      <thead>
        <tr class="text-[#2B5392]">
          <th class="px-8 py-6 font-semibold">Foto</th>
          <th class="px-8 py-6 font-semibold">Nombre</th>
          <th class="px-8 py-6 font-semibold">Especie</th>
          <th class="px-8 py-6 font-semibold">Raza</th>
          <th class="px-8 py-6 font-semibold">Edad</th>
          <th class="px-8 py-6 font-semibold">Peso</th>
          <th class="px-8 py-6 font-semibold">Enfermedad</th>
          <th class="px-8 py-6 text-center font-semibold">Estado</th>
        </tr>

        <tr>
          <td colspan="8">
            <div class="h-px bg-[#2B5392]/25"></div>
          </td>
        </tr>
      </thead>

      <!-- BODY -->
      <tbody class="text-[#4A4A4A]">
        @for (pet of pets; track $index) {
          <tr
            class="info-client-pet-row group border-b border-[#EAE6E1] transition-colors duration-200 hover:bg-[#F2F6FC]"
          >
            <!-- FOTO -->
            <td class="flex px-8 py-7">
              <img
                [src]="pet.urlFoto"
                alt="Mascota"
                class="h-16 w-16 shrink-0 rounded-full object-cover ring ring-[#2B5392]/10 transition-transform duration-200 group-hover:scale-105"
              />
            </td>

            <!-- NOMBRE -->
            <td class="px-8 py-7 font-semibold">
              {{ pet.nombre }}
            </td>

            <!-- ESPECIE -->
            <td class="px-8 py-7 font-medium">
              {{ pet.raza?.especie?.nombre }}
            </td>

            <!-- RAZA -->
            <td class="px-8 py-7">
              {{ pet.raza?.nombre }}
            </td>

            <!-- EDAD -->
            <td class="px-8 py-7">
              {{ getEdad(pet.fechaNacimiento) }}
              {{ getEdad(pet.fechaNacimiento) === 1 ? "año" : "años" }}
            </td>

            <!-- PESO -->
            <td class="px-8 py-7">{{ pet.peso }} kg</td>

            <!-- ENFERMEDAD -->
            <td class="px-8 py-7">
              {{ pet.enfermedad?.nombre }}
            </td>

            <!-- ESTADO -->
            <td class="px-8 py-7 text-center">
              <!-- ACTIVO -->
              @if (pet.estado === true) {
                <span
                  class="rounded-lg bg-[#ebfaf1] px-4 py-3 text-sm font-semibold text-[#2bab60]"
                >
                  ACTIVO
                </span>
              }

              <!-- INACTIVO -->
              @if (pet.estado === false) {
                <span
                  class="rounded-lg bg-[#ededed] px-4 py-3 text-sm font-semibold text-[#8c8c8c]"
                >
                  INACTIVO
                </span>
              }
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>
