<article
  class="relative h-64 min-h-100 overflow-hidden rounded-[20px] sm:h-80 md:h-full"
>
  <img
    src="/images/vet/new-client/new-client.jpg"
    alt="new-client"
    class="absolute inset-0 h-full w-full object-cover"
  />

  <div
    class="absolute inset-0 bg-linear-to-t from-black/70 via-black/30 to-transparent"
  ></div>

  <div class="absolute bottom-0 left-0 z-10 p-4 text-[#FBFAF8] sm:p-6">
    <div class="mb-2 flex items-center gap-2 text-xs font-medium sm:text-sm">
      <img src="/images/marca/icono.png" class="h-5 w-5 sm:h-6 sm:w-6" />
      <span>Biskit</span>
    </div>

    <h2 class="mb-2 text-xl font-black tracking-wide sm:text-2xl">
      Cada cliente es parte de nuestra familia
    </h2>

    <p class="text-xs text-[#FBFAF8]/80 sm:text-sm">
      Registra los datos del cliente para mantener un seguimiento completo de
      sus mascotas.
    </p>
  </div>
</article>
