<article
  class="bg-[#FBFAF8] pt-6 pb-8 px-5 sm:px-6 rounded-2xl border border-[#E0E0E0] flex items-center flex-col justify-center gap-6 sm:gap-7 w-full"
>
  <p
    class="text-[#8d8580dd] text-sm text-center font-semibold items-center flex"
  >
    {{ titulo }}
  </p>
  <!-- Dona -->
  <div class="relative w-full max-w-[18rem] aspect-square">
    <p-chart
      type="doughnut"
      [data]="dataDona"
      [options]="options"
      styleClass="w-full h-full"
    >
    </p-chart>

    <!-- Total en centro -->
    <div
      class="absolute inset-0 flex flex-col items-center justify-center pointer-events-none"
    >
      <span class="text-xs sm:text-sm text-[#8d8580dd]"
        >TOTAL {{ titulo }}</span
      >
      <span class="text-2xl sm:text-3xl font-bold text-[#4a4a4a]">{{
        total
      }}</span>
    </div>
  </div>
</article>
