<p>dashboard works!</p>
<p>Tratamientos de cada mes</p>
<ul>
  <li *ngFor="let item of tratamientosMes">
    {{ item.mes }} : {{ item.numTratamientos }}
  </li>
</ul>

<p>Tratamientos por medicamento (último mes):</p>
<ul>
  <li *ngFor="let item of drogaTratamientosMesCount">
    {{ item.drogaNombre }} - {{ item.count }}
  </li>
</ul>
<p>Veterinarios activos: {{ numVeterinariosActivos }}</p>
<p>Veterinarios inactivos: {{ numVeterinariosInactivos }}</p>
<p>Mascotas totales: {{ numMascotas }}</p>
<p>Mascotas inactivas: {{ numMascotasInactivas }}</p>
<p>Ventas totales: {{ ventasTotales }}</p>
<p>Ganancias totales: {{ gananciasTotales }}</p>
<p>Top 5 drogas:</p>
<ul>
  <li *ngFor="let item of top5Drogas">
    {{ item.drogaNombre }} - {{ item.top }}
  </li>
</ul>
<p>Top 5 enfermedades:</p>
<ul>
  <li *ngFor="let item of top5Enfermedades">
    {{ item.enfermedadNombre }} - {{ item.top }}
  </li>
</ul>
