<main class="flex flex-col m-10 gap-10 mx-30">
  <!-- Titulo -->
  <section
    class="text-[#4a4a4a] w-full flex flex-col items-center justify-center gap-2"
  >
    <h1
      class="text-2xl font-black tracking-wider text-[#4a4a4a] sm:text-3xl md:text-4xl"
    >
      Hola de nuevo {{ admin.nombre }}!
    </h1>
    <p class="text-sm text-[#8d8580dd] font-medium text-center">
      Aquí puedes ver un resumen de las estadísticas de Biskit
    </p>
  </section>
  <!-- Ventas, Mascotas y Veterinarios -->
  <section class="flex justify-around items-center gap-10">
    <article class="flex flex-col gap-8">
      <app-card-kpi
        [titulo]="'VENTAS TOTALES'"
        [valor]="ventasTotales"
      ></app-card-kpi>
      <app-card-kpi
        [titulo]="'GANANCIAS TOTALES'"
        [valor]="gananciasTotales"
      ></app-card-kpi>
    </article>
    <app-card-dona
      class="w-[30%]"
      [titulo]="'MASCOTAS'"
      [idAdmin]="adminId"
      [total]="numMascotas"
      [data]="[numMascotasActivas, numMascotasInactivas]"
    ></app-card-dona>
    <app-card-dona
      class="w-[30%]"
      [titulo]="'VETERINARIOS'"
      [idAdmin]="adminId"
      [total]="numVeterinarios"
      [data]="[numVeterinariosActivos, numVeterinariosInactivos]"
    ></app-card-dona>
  </section>
  <!-- Tratamientos por mes (Gráfico de Barras) -->
  <section class="flex justify-around items-center">
    <app-card-barras class="w-full" [tratamientos]="tratamientosMes">
    </app-card-barras>
  </section>
  <!-- Tops 5 -->
  <section class="flex justify-around items-center gap-10">
    <app-card-top5 class="w-1/2" [top]="top5Drogas" [titulo]="'Drogas'">
    </app-card-top5>
    <app-card-top5
      class="w-1/2"
      [top]="top5Enfermedades"
      [titulo]="'Enfermedades'"
    >
    </app-card-top5>
  </section>
  <!--  -->
  <section class="flex justify-around items-start gap-10">
    <app-card-tabla class="w-1/2" [datos]="drogaTratamientosMesCount">
    </app-card-tabla>
    <app-card-repuestos class="w-1/2" [drogas]="drogasBajasEnStock">
    </app-card-repuestos>
  </section>
</main>

<!-- 
<p>Tratamientos de cada mes</p>
<ul>
  <li *ngFor="let item of tratamientosMes">
    {{ item.mes }} : {{ item.numTratamientos }}
  </li>
</ul>

<p>Tratamientos por medicamento (último mes):</p>
<ul>
  <li *ngFor="let item of drogaTratamientosMesCount">
    {{ item.drogaNombre }} : {{ item.count }}
  </li>
</ul>
<p>Veterinarios activos: {{ numVeterinariosActivos }}</p>
<p>Veterinarios inactivos: {{ numVeterinariosInactivos }}</p>
<p>Mascotas totales: {{ numMascotas }}</p>
<p>Mascotas inactivas: {{ numMascotasInactivas }}</p>
<p>Ventas totales: {{ ventasTotales }}</p>
<p>Ganancias totales: {{ gananciasTotales }}</p>
<p>Top 5 drogas:</p>
<ul>
  <li *ngFor="let item of top5Drogas">
    #{{ item.top }}: {{ item.drogaNombre }} : {{ item.countTratamientos }}
  </li>
</ul>
<p>Top 5 enfermedades:</p>
<ul>
  <li *ngFor="let item of top5Enfermedades">
    #{{ item.top }}: {{ item.enfermedadNombre }} : {{ item.countPets }}
  </li>
</ul>
<p>Drogas bajas en stock:</p>
<ul>
  <li *ngFor="let item of drogasBajasEnStock">
    Reponer {{ item.drogaNombre }}, Stock actual: {{ item.stockActual }} !!!!!
  </li>
</ul> -->
