<article
  [class]="
    showOnMobile
      ? 'flex w-full justify-center'
      : 'hidden w-full justify-center md:flex'
  "
>
  <div
    class="w-full overflow-hidden rounded-xl border border-[#EAE6E1] bg-[#FBFAF8]"
  >
    <div
      class="custom-scroll overflow-x-auto overflow-y-auto"
      #scrollContainer
      [style.max-height]="maxHeight"
    >
      <table
        class="w-full min-w-152 table-auto text-sm backdrop-blur-sm lg:text-base"
      >
        <thead class="bg-[#FBFAF8]">
          <tr class="text-[#2B5392]">
            @for (
              columna of columnasNormalizadas;
              track columna.header + $index
            ) {
              <th
                class="sticky top-0 z-20 bg-[#FBFAF8] px-5 py-3 font-semibold shadow-[inset_0_-1px_0_0_rgba(43,83,146,0.25)] lg:px-10 lg:py-4"
                [class.text-left]="alineacionesColumnas[$index] === 'left'"
                [class.text-center]="alineacionesColumnas[$index] === 'center'"
                [class.text-right]="alineacionesColumnas[$index] === 'right'"
              >
                {{ columna.header }}
              </th>
            }
          </tr>
        </thead>
        <tbody class="text-[#4A4A4A]">
          @for (fila of filasNormalizadas; track $index) {
            <tr
              app-fila
              class="tabla-row clients-row group cursor-pointer border-b border-[#EAE6E1] transition-colors duration-200 hover:bg-[#F2F6FC]"
              [style.--row-index]="$index"
              [celdas]="fila"
              [alineaciones]="alineacionesColumnas"
              [filaOriginal]="datos[$index]"
              [filaIndex]="$index"
              (filaClick)="onFilaClick($event)"
              (accionClick)="onActionClick($event)"
            ></tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</article>
