<a
  routerLink="/vet/clients"
  class="back-link group mt-6 mb-2 ml-4 inline-flex h-10 items-center justify-start sm:mt-8 sm:ml-8 md:ml-12 lg:ml-20 xl:ml-28"
>
  <svg class="mt-1 h-9" viewBox="0 0 24 24" fill="none">
    <path
      d="M8 12L16 12"
      stroke="#6B6B6B"
      stroke-width="2"
      stroke-linecap="round"
    ></path>
    <path
      d="M11 9L8.087 11.913C8.039 11.961 8.039 12.039 8.087 12.087L11 15"
      stroke="#6B6B6B"
      stroke-width="2"
      stroke-linecap="round"
    ></path>
  </svg>

  <h2
    class="ml-1 text-base font-bold tracking-wider text-[#4a4a4acc] underline underline-offset-6 transition-colors duration-300 group-hover:text-[#4A4A4Aee] sm:text-lg"
  >
    Lista de Clientes
  </h2>
</a>
